In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [96]:
df=pd.read_csv("Social_Network_Ads.csv")
df.head()

    User ID  Gender  Age  EstimatedSalary  Purchased
0  15624510    Male   19            19000          0
1  15810944    Male   35            20000          0
2  15668575  Female   26            43000          0
3  15603246  Female   27            57000          0
4  15804002    Male   19            76000          0

In [97]:
X=df.iloc[:,2:4]
X.head()

   Age  EstimatedSalary
0   19            19000
1   35            20000
2   26            43000
3   27            57000
4   19            76000

In [98]:
Y=df.iloc[:,4]
Y.head()

0    0
1    0
2    0
3    0
4    0
Name: Purchased, dtype: int64

In [99]:
from sklearn.model_selection import train_test_split

In [147]:
X_train,X_test,Y_train,Y_test=train_test_split(X,Y,test_size=0.25,random_state=0)

In [148]:
X_train.shape
print(Y_train.shape)

(300,)

In [149]:
from sklearn.preprocessing import StandardScaler

In [150]:
sc=StandardScaler()
X_train=sc.fit_transform(X_train)
X_test=sc.fit_transform(X_test)

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\preprocessing\data.py:645: DataConversionWarning: Data with input dtype int64 were all converted to float64 by StandardScaler.
  return self.partial_fit(X, y)
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\base.py:464: DataConversionWarning: Data with input dtype int64 were all converted to float64 by StandardScaler.
  return self.fit(X, **fit_params).transform(X)
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\preprocessing\data.py:645: DataConversionWarning: Data with input dtype int64 were all converted to float64 by StandardScaler.
  return self.partial_fit(X, y)
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\base.py:464: DataConversionWarning: Data with input dtype int64 were all converted to float64 by StandardScaler.
  return self.fit(X, **fit_params).transform(X)

In [151]:
from sklearn.linear_model import LogisticRegression

In [152]:
LR=LogisticRegression()

In [153]:
Final=LR.fit(X_train,Y_train)

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

In [154]:
Y_pred=LR.predict(X_test)

In [155]:
from sklearn.metrics import confusion_matrix

In [156]:

cm=confusion_matrix(Y_test,Y_pred)
cm

array([[63,  5],
       [ 7, 25]], dtype=int64)